:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --font-size: 18px;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-main);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-body {
  background-color: var(--very-dark-blue-card);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 23px 15px 24px 24px rgba(0, 0, 0, 0.1);
}
.nft-body > img {
  width: 300px;
  border-radius: 10px;
}
h2 {
  color: var(--white);
}
p {
  color: var(--soft-blue);
  font-size: var(--font-size);
}
.inner-component {
  display: flex;
  justify-content: space-between;
  color: var(--soft-blue);
}
.inner-component .eth {
  color: var(--cyan);
}

span > img {
  margin: 0 5px;
}
hr {
  background-color: var(--soft-blue);
  margin: 22px 0px;
  border-color: var(--soft-blue);
  border-width: 0.5px;
  border-style: inset;
  /* height: 0.5px;
  width: 100%; */
}
.avator > img {
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  margin: 0 20px 0 0;
}
.avator {
  display: flex;
}
.name {
  color: var(--white);
}
